<div class="selector">
    <label>
        <select @bind="@Culture" @bind:after="SetCulture">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>
</div>
