@if (ShowDialog)
{
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <h2>@Header</h2>
                <span class="close" @onclick="()=>ShowDialog=false">&times;</span>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
}

@code {
    [Parameter][EditorRequired] public bool ShowDialog { get; set; }
    [Parameter][EditorRequired] public required string Header { get; set; }
    [Parameter][EditorRequired] public required RenderFragment ChildContent { get; set; }
}
